################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightScheduling/packages
/FlightScheduling/FlightSchedulingv1.0/
/FlightScheduling/FlightSchedulingProject/bin/
/FlightScheduling/FlightSchedulingProject/obj/